<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
    <% end %>
</ul> 

<form method="POST" action="/add_bookmarks">
<input type="url" name="url"> 
<input type="submit" value="Submit" >
</form>