<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
        <a href="<%= bookmark.url %>"><%= bookmark.title %></a><br>
    </li>
  <% end %>
</ul> 

<form method="POST" action="/add_bookmarks">
<input type="url" name="url"> 
<input type="text" name="title">
<input type="submit" value="Submit" >
</form>